.ipynb_checkpoints/
*/*~
*~
build/
_build
modules/*/*.built
modules/*/*pdf
modules/*/*html
sphinx/index.rst
# this is generated .md
modules/*/*.md
modules/*/*_files
modules/*/*_cache
modules/*/*.ipynb
modules/*/*.zip
modules/*/tmp*
modules/*/*.aux
modules/*/*.log
modules/*/*.nav
modules/*/*.out
modules/*/*.snm
modules/*/*.synctex.gz
modules/*/*.toc
modules/*/.RData
modules/*/.Rhistory
modules/*/.DS_Store
tools/*.pyc
zipfiles/*
.DS_Store
